<html>

  <head>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <script src='https://cdn.firebase.com/v0/firebase.js'></script>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <title>Chat</title>
  </head>

  <body>
  <div class="container-narrow">
    
    <div class="jumbotron">
      <h1>Chat Wall</h1>
      <p class="lead">A simple web application to chat with your friends.</p>
      <button class="btn btn-large btn-primary" type="button">Start</button>
    </div>

    <hr>

    <div id="chat-section">

      <div id="messagesDiv">
        <div id="chatStart">Start Chatting!</div>
      </div>

      <div id="inputs">
        <input type='text' id='nameInput' placeholder='Name'>
        <input type='text' id='messageInput' placeholder='Message'>
        <button type="submit" class="btn">Send</button>
      </div>

    </div>


  </div>

    
    <script src="js/script.js"></script>
  </body>



</html>